$background : #F2F6FF;
$color1: #23233C;
$color2: #6CC57C;
$color3: #7F8DA0;
$color4: #D0F0D6;

@mixin centerColumna_v_h($fila:center) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $fila;
}

@for $i from 1 to 10 {
    .col-#{$i}0{
        width: $i * 9.99% !important;
    }
}

* input,textarea{
    outline: none;
    border: none;
    width: 100%;
}




@mixin btn_login($color: $color2){
    width: 90%;
    width: 405px;
    height:59.6px;
    background-color:$color;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: $background;
    text-transform: uppercase;
}


*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    box-sizing: border-box;
}


.max{
    max-width:1200px;
    margin: 0px auto;
}


body{
    background-color: $background;
}

.nav_principal{
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: $color1;
    // position: fixed;
    width: 100%;
    h3{
        a{
            color: #6CC57C;
            text-decoration: none;
        }
    }
     .contenedor{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & h3{
      color: $color2;
      font-weight: bold;
      font-size:48px;
    }
}

// .nav_contenedor{
//     & .nav_principal--menu{
//         .list_item{
//             display: inline-block;
//             a{
//                 color: $background;
//                 font-style: none;
//                 text-decoration: none;
                
//             }
//             margin: 10px;
//         }
//     }
//     .btn_login{
//         margin-left: 60px;
//         background-color: $color2;
//         border: none;
//         color: $background;
//         padding: 5px 15px;
//         font-weight: bold;
//         font-size: 20px;
//         border-radius: 10px;
//         cursor: pointer;
//     }
// }



// HEADER

.header{
    position: relative;
    top: 59.2px;
    height: calc(100vh - 59.2px);
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    .header_conteiner{
        width: 90%;
        .header_title{
            text-transform: uppercase;
            width: 90%;
            margin: 20px auto;
            color: $color1;
            font-size: 36px;
            text-align: center;
            .header_title--efect{
                color: $color2;
            }
        }
        
        .header_login-contenedor{
            @include centerColumna_v_h;
            .contenedor_usuario{
                    @include centerColumna_v_h(flex-start);
                    width: 90%;
                    margin: 20px 0px;
                .contenedor_usuario-input{
                    height:47px;
                    width: 100%;
                    border: none;
                    font-size:24px;
                    background-color: transparent;
                    outline: none;
                    color: $color3;
                    border-bottom:  6px solid $color2;
                }
                & .contenedor_usuario-input::placeholder{
                    color: $color3;
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
    }
}


.btn_loginI{
    margin: 40px auto;
    @include btn_login($color4);
    cursor: pointer;
    .btn_login--efect{
        transition: all 0.4s ease-in-out;
        transform: translate3d(-10px, -10px, 10px);
        background-color: $color2;
        text-align: center;
        line-height: 59px;
        letter-spacing: 5px;
        width: 100%;
        height: 100%;

        &:hover{
            transform: translate3d(0px, 0px, 0px);
            box-shadow: 0 0 0 2em $color1 inset;
        }
    }
}

/* ESTILOS DE FUT VIRTUAL*/
#fromFut{
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 47px;
    display: flex;
    flex-direction: column;
    .contenedor_datos{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        // .fut_contenedor{
        //     // background-color:#23233C;
        // }
    }
}

.btn_fut{
    margin: 20px 0px;
}

/**/
.fut_contenedor_imput{
    * select{
        width: 100%;
    }
}

.content_datos1{
    // width: 90%;
    .fut_contenedor_imput{
        width: 49%;
    }
    .fut_contenedor_imput:nth-child(3){
        width: 100%;
    }
}

.content_datos2{
    .fut_contenedor_imput{
        width: 49%;
    }
}



/***/



.title_fut{
    font-size: 43px;
    color: $color1;
    text-align: center;
    margin: 20px 0px 40px 0px;
    .title--efect{
        color: $color2;
    }
}

@mixin animated{
    font-weight: 900;
    transform: translate3d(10px, 28px, 0px);
    font-size: 20px;
    color: $color1;
    position: relative;
    z-index: 2;
}


.fut_contenedor_imput{
    // background-color:#6CC57C;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    border-radius: 15px;
    padding: 5px 15px;
    box-shadow: 20px 20px 30px rgba(171, 182, 204, 0.56);
    margin: 22px 0px;

    label{
        font-size:13px;
        transition: all 0.35s ease-in-out;
        font-weight: normal;
        color: $color3;
    }

    .fut_elemento_input{
        color: $color1;
        font-size: 20px;
        font-weight: bold;
        background-color: transparent;
        outline: none;
    }
    .fut_elemento{
        display: block;
        border: none;
    }
    outline: none;
}

// .fut_contenedor{
//     margin: 20px;
//     display: grid;
//     grid-template-columns: repeat(1,1fr);
// }


@media (min-width: 700px){
    .header{
        .header_conteiner{
            .header_title{
                font-size: 64px;
            }
            .header_login-contenedor{
                margin: 0px auto;
                width: 40%;
            }
        }
    }
    
    #fromFut{
        width: 80%;
        margin: 0 auto;
        display: flex;
        .contenedor_datos{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .fut_contenedor{
                width: 45%;
                // background-color:#23233C;
            }
        }
    }
    
    .btn_fut{
        margin: 20px 0px;
    }
    
    /**/
    
    .content_datos1{
        // width: 90%;
        display: flex;
        justify-content: space-between;
        .fut_contenedor_imput{
            width: 30% !important;
            margin: 22px 5px;
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        }
    }
    
    .content_datos2{
        display: flex;
        justify-content: space-between;
        .fut_contenedor_imput:nth-child(1){
            width: 30%;
        }
        .fut_contenedor_imput:nth-child(2){
            width: 65%;
        }
    }
    
    
    
    /***/
}

/**MENU RESPONSIVO*/

/*EFECTO JAVASCRIPT*/

.nav_contenedor.desplegar{
    left: 0px !important;
}


#rotate.dis-block{
    display: block;
}


.efect-rotate{
    position: relative;
}

.efect-rotate div{
    position: absolute;
    top: 19px;
    margin: 0px;
    left: 11.5px;
    transition: all  0.4s ease-in-out;
}

.efect-rotate div:nth-child(2){
    display: none;
}

.efect-rotate div:first-child{
    transform:rotate(45deg)
}

.efect-rotate div:last-child{
    transform:rotate(-45deg)
}



/*///////////////////*/



.nav_contenedor{
    z-index: 100;
    position: absolute;
    transition: all 0.35s ease-in-out;
    left: -100%;
    top: 57.6px;
    width: 80%;
    height: calc(100vh - 57.6px);
        color: white;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        list-style: none;
        background-color: $color1;
        a{
            width: 100%;
        }

        & .nav_principal--menu{
            width: 100%;
            .list_item{
                padding: 20px 0px;
                width: 100%;
                display: block;
                cursor: pointer;
                transition: all 0.35s ease-in-out;
                border-bottom: 5px solid $color2;
                &:hover{
                    background-color: $color2;
                }
                a{
                    color: $background;
                    font-style: none;
                    text-decoration: none;
                }
            }
        }
        .btn_login{
            width: 100%;
            padding: 20px 0px;
            background-color: $color2;
            border: none;
            color: $background;
            // padding: 5px 15px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
}



.nav-movil__menu{
    display: block;
    .content-line{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius:15px;
        background-color: $color2;
        .content-line__background{
            width: 28px;
            .content-item{
                width: 28px;
                margin: 4px 0px;
                height: 2.5px;
                background-color:$background;
            }
        }
    }
    
}

@media(min-width: 700px){
    .nav_contenedor{
        color: white;
        position: sticky;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        background-color: $color1;
        padding: 10px 5px;
        height: 100%;
        left: 0px;
        a{
            width: 26%;
        }
    }
    .nav_contenedor{
        & .nav_principal--menu{
            display: flex;
            justify-content: flex-end;
            .list_item{
                padding: 10px;
                margin-right: 5px;
                width: initial;
                display: inline-block;
                a{
                    color: $background;
                    font-style: none;
                    text-decoration: none;
                }
            }
        }
        .btn_login{
            margin-left: 60px;
            background-color: $color2;
            border: none;
            color: $background;
            padding: 5px 15px;
            font-weight: bold;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    

    .nav-movil__menu{
        display: none;
        .content-line{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius:15px;
            background-color: $color2;
            .content-line__background{
                width: 28px;
                .content-item{
                    width: 28px;
                    margin: 4px 0px;
                    height: 2.5px;
                    background-color:$background;
                }
            }
        }
    }
}

/*******************************************************INFORMACION********************************************/

.informacion{
    position: relative;
    top: 100px;
    width: 90%;
    box-shadow: 20px 20px 30px rgba(171, 182, 204, 0.56);
    .title_contenedor{
        background-color: $color2;
        color: $background;
        h3{
            text-align: center;
            font-size: 25px;
            margin-left: 10px;
        }
    }
    
}

.info_item:nth-child(1){
    margin-top: 20px;
}

.info_item{
    text-transform: uppercase;
    margin-bottom: 20px;

    .infor_item--title{
        color: $color1;
        font-size:20px;
        font-weight: 900;
    }
    .infor_item--parrafo{
        margin-top: 5px;
        color: $color3;
        font-size: 16px;
    }
}

.informacion-btn{
    position: relative;
    margin: 0px auto;
    top: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btn_loginI  {
        margin: 0px !important;
    }
    button{
        width: 100%;
    }
}

.btn_alernativa{
    transform: translate3d(0px, 0px, 0px) !important;
    background-color: $color1 !important;
    width: 100% !important;
    border-bottom: 6px solid $color2 !important;

    &:hover{
        background-color: $color2 !important;
        box-shadow: none !important;
    }
}


@media (min-width: 700px){
    // .informacion{
    // }
    .infor_contenedor{
        display: flex;
        justify-content: space-between;
        .infor_subcontenedor{
            width: 50%;
            .info_item{
                margin: 50px 20px;
            }
        }
        .infor_subcontenedor:nth-child(1){
            margin-left: 10px;
        }
    }
    .title_subcontenedor--efect{
        background-color: transparent !important;
        color: $color2 !important;
        h3{
            text-align: initial !important;
        }
    }

    .informacion-btn{
        width: 80%;
        margin: 0px auto;
        display: flex;
        top: 140px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .btn_loginI  {
            margin: 0px !important;
        }
        button{
            width: 40%;
        }
    }
    
    .btn_alernativa{
        transform: translate3d(-10px, -10px, 0px) !important;
        background-color: $color2 !important;
        width: 100% !important;
        border-bottom: none !important;
    
        &:hover{
            transform: translate3d(0px, 0px, 0px) !important;
            background-color: $color2 !important;
            box-shadow: 0 0 0 2em $color1 inset !important;
        }
    }

}


.contenedorDetalle{
    transition: all 0.35s ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10001;
    top: -100%;
    width: 100%;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.contenedorDetalle.efect{
    top: 0px;
}


.detalle_container{
    position: relative;
    padding: 20px;
    background-color: $background;
    max-width: 500px;
    margin: 0px auto;
    border-radius: 15px;
    .detalle_title{
        font-size:36px;
        color: $color1;
        text-align: center;
        border-bottom: 6px solid $color2;
    }
}


.detalle_icono{
    .fas{
        font-size: 25px;
        color: $color2;
        font-weight: 900;
        transition: all 0.35s ease-in-out;
        transform: rotate(0deg);
        position: absolute;
        top: 9px;
        right: 7px;
        cursor: pointer;
    }
    .fas:hover{
        color: $color1;
        transform: rotate(180deg);
    }
}

#boton_salir{
    a{
        color: $background;
        text-decoration: none;
    }
}

#contenedorArchivo{
    position: absolute;
    right: 222px;
    width: 500px;
    bottom: 150px;
    .fut_contenedor_imput{
        width: 110%;
        .btn_archivo{
            height:40px;
            cursor:pointer;
            background-color: $color2;
            color: $background;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 2px;
            transition: all 0.35s ease-in-out;
            &:hover{
                background-color: $color1;
            }
        }
    }
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: $color2;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.contendor_top{
    position: relative;
    top: 80px;
    margin-bottom: 20px;
}


.table_contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // margin-right: 10px;
    table{
        margin: 0px auto;
    }
}

.btn_admin{
    width: 20%;
    margin-right: 49px;
    margin-bottom: 10px;
    padding: 5px;
    font-size:20px;
    text-transform: uppercase;
    color: $background;
    background-color:$color1;
    border: none;
    border-bottom: 6px solid $color2;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease-in-out;
    &:hover{
        border-bottom: 6px solid $color1;
        background-color:$color2;
    }
}


.ico_descargar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    text-align: center;
    color: $color1;
    position: relative;
}